<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Cadastro</title>
	</head>
		
	
	<body>
		<div class="container">
			<h1>Cadastrar Jogo</h1>
			<a href="/menu" class="btn btn-info">Home</a> 
			<a href="/lista/pontuacao" class="btn btn-info">Listar Pontuação</a> 
			<br>
			<br>
			<br>
			<form action="/cadastro/pontuacao/salvar" method="post">
			<input type="hidden" name="id" th:value="${pontuacao.id}">
				<div class="aler alert-danger" 
					th:if="${not #strings.isEmpty(erros)}" >
					<div th:each="erro : ${erros}">
						<span th:text="${erro.getDefaultMessage()}"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-2">
						<label>Jogo</label>
						<input class="form-control" type="number" name="id" th:value="${pontuacao.id}" disabled="disabled">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-2">
						<label>Placar da partida</label>
						<input class="form-control" type="number" name="placar" th:value="${pontuacao.placar}" min="1" max="999">
					</div>
					<div class="form-group col-md-2">
						<label>Mínimo da temporada</label>
						<input class="form-control" type="number" name="minimoTemporada" th:value="${pontuacao.minimoTemporada}" disabled="disabled">
					</div>
					<div class="form-group col-md-2">
						<label>Máximo da temporada</label>
						<input class="form-control" type="number" name="maximoTemporada" th:value="${pontuacao.minimoTemporada}" disabled="disabled">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<button class="btn btn-info" type="submit" style="width: 100%">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>

