<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head th:insert="~{helpers/header :: head}">
		<meta charset="UTF-8">
	</head>
	<link rel="stylesheet" href="css/login.css">
	<title>Cadastro</title>
	<body>
		<a href="cadastro/pontuacao">Cadastro de pontuação</a>
			<form action="" class="form">
				<div class="form-group">
					<label for="email">E-mail:</label>
					<input class="form-control" name="email" type="email" placeholder="Informe seu e-mail">
				</div>
				<div class="form-group">
					<label for="email">Senha:</label>
					<input class="form-control" name="senha" type="text" placeholder="Informe seu e-mail">
				</div>
				<button class="btn btn-primary" type="button">Acessar</button>
			</form>
	</body>
</html>